.custom-tiptap-toolbar {
  display: flex;
  gap: 0;
  background: white;
  padding: 0;
  border-radius: 0;
  border: none;
  margin-bottom: 0;
  padding-top: 24px;
  padding-left: 30px;
  padding-right: 30px;

  flex-wrap: wrap;
}
.toolbar-btn {
  width: 30px;
  height: 30px;
  background: transparent;
  border: none;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 4px;
  padding: 0;
  font-size: 15px;
  font-weight: 600;
  color: #292e39;
  cursor: pointer;
  transition: background 0.2s;
  box-shadow: none;
}
.toolbar-btn-title {
  width: 56px;
  height: 30px;
  background: transparent;
  border: none;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 4px;
  padding: 0;
  font-size: 15px;
  font-weight: 600;
  color: #292e39;
  cursor: pointer;
  transition: background 0.2s;
  box-shadow: none;
}
.toolbar-btn-body {
  width: 36px;
  height: 30px;
  background: transparent;
  border: none;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 4px;
  padding: 0;
  font-size: 15px;
  font-weight: 600;
  color: #292e39;
  cursor: pointer;
  transition: background 0.2s;
  box-shadow: none;
}
.toolbar-btn:last-child {
  margin-right: 0;
}
.toolbar-btn:hover,
.toolbar-btn-title:hover,
.toolbar-btn-body:hover {
  background: #cae0ff;
}
.custom-tiptap-editor {
  background: white;
  border-radius: 0 0 6px 6px;
  min-height: 300px;
  padding-top: 24px;
  font-family: 'Pretendard Variable', sans-serif;
  color: #292e39;
  font-size: 18px;
  font-weight: 400;
  padding-left: 30px;
  padding-right: 30px;
  white-space: pre-line;
  min-height: 300px;
  border-radius: 0 0 8px 8px;
  padding: 24px 30px 24px 30px;

  @media (max-width: 1024px) {
    padding: 18px 16px;
  }
}

.custom-tiptap-editor h1 {
  font-size: 26px;
  font-weight: 600;
  line-height: 130%;

  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
.custom-tiptap-editor h2 {
  font-size: 23px;
  font-weight: 600;
  line-height: 130%;

  @media (max-width: 1024px) {
    font-size: 18px;
  }
}
.custom-tiptap-editor h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 140%;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}
.custom-tiptap-editor h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;

  @media (max-width: 1024px) {
    font-size: 14px;
  }
}
.custom-tiptap-editor p {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;

  @media (max-width: 1024px) {
    font-size: 14px;
  }
}

.custom-tiptap-editor p:empty:before {
  content: '\00a0';
  display: block;
  min-height: 1.5em;
}
.custom-tiptap-editor p > br:only-child {
  content: '';
  display: block;
  min-height: 1.5em;
}
.custom-tiptap-editor img {
  max-width: 100%;
  height: auto;
  display: block;
}

.custom-tiptap-editor a {
  color: #0000ee;
  text-decoration: underline;
  cursor: pointer;
}

.custom-tiptap-editor a:visited {
  color: #551a8b;
}

.custom-tiptap-editor a:hover {
  color: #0000ee;
  text-decoration: underline;
}

.custom-tiptap-editor a:active {
  color: #ee0000;
}
